<% @trip.trails.each do |trail| %>
  <%= trail.length %>
  <%= trail.name %>
  <%= trail.address %>
  <% end %>

  <p>Total Hiking Distance: <%= @trip.total_planned_distance %></p>
  <p>Average Distance: <%= @trip.average_distance %></p>
